aiogram==2.9.2
aiohttp==3.6.2
aioredis==1.3.1
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.2.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
flake8==3.8.4
gino==1.0.1
hiredis==1.1.0
idna==2.10
kiwisolver==1.3.1
matplotlib==3.3.3
mccabe==0.6.1
multidict==4.7.6
numpy==1.19.4
pandas==1.1.5
Pillow==8.0.1
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
six==1.15.0
SQLAlchemy==1.3.20
XlsxWriter==1.3.7
yarl==1.5.1
